<h1>Edit <%=@car.name%></h1><br>

<form action = "/cars/<%=@car.id%>" method = "post" autocomplete="off">
  <h2>Car Make:<br>
  <input type = "text" name = "make" value = "<%=@car.make%>"><br><br>
  Car Name:<br>
  <input type = "text" name = "name" value = "<%=@car.name%>"><br><br>
  Car year:<br>
  <input type = "text" name = "year" value = "<%=@car.year%>"><br><br>
  Who Owns the Car?<br><br>
  <select name = "user_id">
    <option value = "<%=current_user.id%>"><%=current_user.username%></option>
  </select>

  <input type="submit" value="submit">
</form>
