<%@cars.each do |car|%>
  Make:<%=car.make%><br>
  Name:<%=car.name%><br>
  Year:<%=car.year%><br>
  Owner:<%=car.user.username%><br>
  Edit: <a href = "/cars/<%=club.id%>/edit"><%=car.name%></a><br><br>
<%end%>
