<br>
<br>
<h3>
  Make: <%=@car.make%><br>
  Model: <%=@car.name%><br>
  Year: <%=@car.year%><br>
  User: <a href = "/users/<%=@car.user.id%>"><%=@car.user.username%></a><br>
  <a href = "/cars/<%=@car.id%>/edit">Edit Car</a><br>
</h3>
